@media (--sp) {
  .breadcrumb {
    &__list {
      display: flex;
      margin: vw(9) 0 vw(108);
      letter-spacing: vw(1);
      overflow-x: auto;

      li {
        flex-shrink: 0;
        color: var(--col_primary);
        font-family: var(--font_base);
        font-size: vw(25);
        transition: all 0.4s ease-in-out;

        &:last-of-type {
          flex: 1;
          margin-left: vw(5);
          color: var(--col_base);
          white-space: nowrap;
        }

        &:not(:last-of-type) {
          &:after {
            content: '/';
            margin: 0 vw(4);
          }
        }
      }
    }
  }
}
