@media (--tb) {
  .breadcrumb {
    &__list {
      display: flex;
      margin: vwTb(7) 0 vwTb(63);
      letter-spacing: 1px;
      overflow-x: auto;
      li {
        flex-shrink: 0;
        color: var(--col_primary);
        font-family: var(--font_base);
        font-size: vwTb(14);
        transition: color 0.4s ease-out;

        &:last-of-type {
          flex: 1;
          margin-left: vwTb(4);
          color: var(--col_base);
          white-space: nowrap;
        }

        &:not(:last-of-type) {
          &:after {
            content: '/';
            margin: 0 vwTb(3) - vwTb(4);
          }
        }
        @media (--hover) {
          &:hover {
            &:not(:last-of-type) {
              color: var(--col_base);
              a {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
