extends ../utils/_base.pug




block jsonLD
  -
    const useCanonical = false;
    const jsonLD = [
      {name: 'トップ', path: '/'},
      {name: 'second', path: '/second/'},
    ];

block append meta
  - var description = " ";


block append subTitle
  - var pageTitle = 'form'

block append classPage
  - var pageClass ='page-form'


block append stylesheet
  link(rel="stylesheet", href=assetPath + 'css/form.css')

block main
  -
    var breadcrumbList = [
      {
        name: 'FORM',
      },
    ];
  +mv('FORM', 'タイトル')
  +breadcrumb(breadcrumbList)
  section.b-contact#entry
    .row
      .b-contact__heading 
        h3.page-ttl.-center
          span.page-ttl--en ENTRY
          span.page-ttl--jp エントリーフォーム
      .b-contact__detail.frm
        .frm-heading
          ul.frm-steps
            li.frm-steps__item
              span.txt step
              span.num 01
            li.frm-steps__item
              span.txt step
              span.num 02
            li.frm-steps__item
              span.txt step
              span.num 03
          .frm-heading__lead
            p 以下の入力フォームに必要事項を入力していただき「入力内容を確認」ボタンを押してください。
              br
              a(href="#") 必須項目は必ずご入力ください。
        .frm-main
          form.frm__inner(method="POST" action="./complete.html")
            .frm-row
              .frm-lb お名前
                span.frm-required 必須
              .frm-input
                input(type="text" placeholder="例）山田 太郎")
            .frm-row
              .frm-lb ふりがな
              .frm-input
                input(type="text" placeholder="例）やまだ たろう")
            .frm-row
              .frm-lb
                | お電話番号
                span.frm-required 必須
              .frm-input.-tel
                input(type='text' placeholder="0123")
                span -
                input(type='text' placeholder="4567")
                span -
                input(type='text' placeholder="8900")
            .frm-row
              .frm-lb
                | メールアドレス
                span.frm-required 必須
              .frm-input
                input(type="text" placeholder="例）info＠omura.co.jp")
            //- .frm-row
            //-   .frm-lb
            //-     | 確認用メールアドレス
            //-     span.frm-required 必須
            //-   .frm-input
            //-     input(type="text" placeholder="上記メールアドレスをご入力ください。")
            .frm-row
              .frm-lb
                | 住所
                span.frm-required 必須
              .frm-input
                input(type="text" placeholder="例）000-0000 ◯◯県◯◯市◯◯町◯丁目◯◯番")
            .frm-row
              .frm-lb
                | 生年月日
                span.frm-required 必須
              .frm-input
                .time-group
                  .c-select 
                    select(class="select")
                      option --
                      option(value="value01") 2023
                      option(value="value01") 2022
                      option(value="value01") 2021
                      option(value="value01") 2020
                  span.time-lb 年
                  .c-select 
                    select(class="select")
                      option --
                      option(value="value01") 1
                      option(value="value01") 2
                      option(value="value01") 3
                      option(value="value01") 4
                  span.time-lb 月
                  .c-select 
                    select(class="select")
                      option --
                      option(value="value01") 1
                      option(value="value01") 2
                      option(value="value01") 3
                      option(value="value01") 4
                  span.time-lb 日
            .frm-row.frm-bNone
              .frm-lb 
                | お問合わせ内容 
              .frm-input
                textarea( placeholder="具体的な内容をご入力ください。")
            .frm-privacy
              .frm-checkbox
                input#privacy(type="checkbox", name="privacy", value="1", required)
                |  
                label(for="privacy")
                  a(href='/privacy/') プライバシーポリシー
                  | に同意する
            .frm-btn
              a(href="#").c-btn.-primary.-back 
                span 一覧へ戻る
                  i.c-btn__ico
              button(type="submit").c-btn.-primary.-next 
                span 入力内容を確認する
                  i.c-btn__ico





