extends ../utils/_base.pug




block jsonLD
  -
    const useCanonical = false;
    const jsonLD = [
      {name: 'トップ', path: '/'},
      {name: 'second', path: '/second/'},
    ];

block append meta
  - var description = " ";


block append subTitle
  - var pageTitle = 'Second'

block append classPage
  - var pageClass ='page-second'


block append stylesheet
  link(rel="stylesheet", href=assetPath + 'css/second.css')

block main
  -
    var breadcrumbList = [
      {
        name: 'Index',
        link: 'index'
      },
      {
        name: 'Detail',
      },
    ];
  +mv('English title', '日本語タイトル')
  +breadcrumb(breadcrumbList)
  include ../components/seconds/_title
  include ../components/seconds/_button
  include ../components/seconds/_table
  include ../components/seconds/_list

  +pagination()


block append script
  script(src=assetPath + 'js/second.js', defer)