@media (--pc) {
  .c-news {
    &__list {
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid var(--col_primary);
    }
    &__item {
      border-bottom: 1px solid var(--col_primary);
      > a {
        display: flex;
        padding: 20px;
        transition: opacity 0.3s ease-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &__date {
      flex-shrink: 0;
      width: 130px;
      font-size: rem(14);
      line-height: 28px;
      font-weight: 400;
    }
    &__detail {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: calc(100% - 130px);
      font-size: rem(16);
      line-height: 28px;
      font-weight: 400;
    }
  }
}
