@media (--sp) {
  .c-news {
    &__list {
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid var(--col_primary);
    }
    &__item {
      border-bottom: 1px solid var(--col_primary);
      > a {
        padding: vw(20);
      }
      .c-tag__list {
        margin-bottom: vw(20);
      }
    }
    &__date {
      display: block;
      margin-bottom: vw(5);
      font-size: vw(24);
      line-height: vw(48);
      font-weight: 400;
    }
    &__detail {
      display: block;
      font-size: vw(26);
      line-height: vw(54);
      font-weight: 400;
    }
  }
}
