@media (--tb) {
  .c-news {
    &__list {
      width: 100%;
      margin: 0 auto;
      border-top: 1px solid var(--col_primary);
    }
    &__item {
      border-bottom: 1px solid var(--col_primary);
      > a {
        display: flex;
        padding: vwTb(20);
        transition: opacity 0.3s ease-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &__date {
      flex-shrink: 0;
      width: vwTb(130);
      font-size: vwTb(14);
      line-height: vwTb(28);
      font-weight: 400;
    }
    &__detail {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: calc(100% - vwTb(130));
      font-size: vwTb(16);
      line-height: vwTb(28);
      font-weight: 400;
    }
  }
}
