.fadeIn {
  opacity: 0;
  &.active {
    animation: fadeIn 0.5s ease-out forwards;
  }
}
.fadeInUp {
  &.active {
    animation: fadeInUp 0.5s ease-out forwards;
  }
}
.fadeInUpCenter {
  &.active {
    animation: fadeInUpCenter 0.5s ease-out forwards;
  }
}

.fadeInLeft {
  &.active {
    animation: fadeInLeft 0.5s ease-out forwards;
  }
}

.intersect-elem {
  opacity: 0;
  &.active {
    opacity: 1;
  }
}
