/* IN */
@keyframes trigger_at {
  0% {
    background: #fff;
  }
  50% {
    background: #fff;
  }
  100% {
    background: transparent;
  }
}
@keyframes trigger_at_01 {
  0% {
    top: vw(-27);
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(45deg);
  }
}
@keyframes trigger_at_02 {
  0% {
    top: vw(27);
    transform: rotate(0);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(-45deg);
  }
}

/* OUT */
@keyframes trigger {
  0% {
    background: transparent;
  }
  50% {
    background: transparent;
  }
  100% {
    background: #fff;
  }
}
@keyframes trigger_01 {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: vw(-27);
    transform: rotate(0);
  }
}
@keyframes trigger_02 {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0);
  }
  100% {
    top: vw(27);
    transform: rotate(0);
  }
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 50%;
    transform: rotate(0);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
@keyframes topBack {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0);
  }
  100% {
    top: 0;
    transform: rotate(0);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 50%;
    transform: rotate(0);
  }
  100% {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}
@keyframes bottomBack {
  0% {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
  50% {
    bottom: 50%;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpCenter {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
