@media (--sp) {
  body {
    font-size: vw(28);
    line-height: lh(28, 58);
    letter-spacing: ls(50);
  }
  .show_pc {
    display: none !important;
  }
  .root {
    overflow: hidden;
    min-width: 320px;
  }
  .row {
    width: 100%;
    padding-left: vw(30);
    padding-right: vw(30);
    &__sm {
      width: 100%;
      padding-left: vw(30);
      padding-right: vw(30);
    }
  }
  .main {
    padding-top: vw(140);
    padding-bottom: vw(92);
  }
}
