@media (--tb) {
  body {
    font-size: vwTb(16);
    line-height: lh(16, 38);
    letter-spacing: ls(50);
  }
  a {
    transition: opacity 0.3s linear;
    @media (--hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }
  a[href^='tel'] {
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
  }
  .show_sp {
    display: none !important;
  }
  .root {
    width: 100%;
    overflow: hidden;
  }
  .row {
    max-width: vwTb(1200);
    width: 100%;
    margin: 0 auto;

    &__sm {
      max-width: vwTb(1000);
      width: 100%;
      margin: 0 auto;
    }
  }
  .main {
    padding-top: vwTb(100);
    padding-bottom: vwTb(100);
  }
}
