<header class="header">
  <div class="header__wrap">
    <h1 class="header__logo"><a href="">Logo</a></h1>
    <div class="header__content"> 
      <div class="header__hamburger" id="iconNav"><span class="burger-lines"></span></div>
      <div class="header__menu">
        <nav class="header__nav">
          <ul> 
            <li><a href="#course_price">コース ・ 料金</a></li>
            <li><a href="#flow">受講の流れ</a></li>
            <li><a href="#point">選ばれる理由</a></li>
            <li><a href="#instructor">講師紹介</a></li>
            <li><a href="#" target="_blank">ブログ</a></li>
            <li><a href="#contact">お問い合わせ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>