@font-face {
  font-family: 'glyphs';
  src: url('../fonts/glyphs.eot?t=1665115844368'); /* IE9*/
  src:
    url('../fonts/glyphs.eot?t=1665115844368#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/glyphs.woff2?t=1665115844368') format('woff2'),
    url('../fonts/glyphs.woff?t=1665115844368') format('woff'),
    url('../fonts/glyphs.ttf?t=1665115844368') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/glyphs.svg?t=1665115844368#glyphs') format('svg'); /* iOS 4.1- */
}

[class^='glyphs-'],
[class*=' glyphs-'] {
  font-family: 'glyphs' !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphs-arrow-btn:before {
  content: '\ea01';
}
