:root {
  --vw: 10px;
  --vh: 10px;

  /* font */
  --font_base: 'Noto Sans JP', sans-serif;
  --font_en: 'Noto Sans JP', sans-serif;

  /* color */
  --col_primary: #2878c3;
  --col_second: #ee9d02;
  --col_3rd: #e6cf0b;
  --col_4rd: #fa6fb0;
  --col_5rd: #f36248;

  --col_body: #000000;
  --col_dark: #000000;
  --col_bgLight: #eff7ff;
  --col_line: #c3c3c3;

  /* form */
  --col_bdInput: #f4f4f4;
  --col_bgInput: #f4f4f4;
  --col_placehoder: #c7c7c7;
  --col_bgError: #fbefef;
  --col_txtError: #c71e1e;
  --col_step: #b94366;
  --col_step-arrow: #999999;

  /* z-index */
  --z_upper: 3000;
  --z_middle: 2000;
  --z_under: 1000;
}
