/* 変数置き場にしましょう。 */

/* Z-Index */
$z_upper: 30000;
$z_middle: 20000;
$z_low: 10000;

/* 変数置き場にしましょう。 */
$c_dark: #282828;
$c_white: #ffffff;

$c_grey_700: #828282;

$c_link: $c_dark;

/* form */
$c_placehoder: $c_grey_700;
$c_error: #fbefef;
$c_bgInput: $c_white;
$c_bdInput: #d5d5d5;
