@media (--pc) {
  a {
    color: #fcc;
  }
  .js-mv {
    margin-top: 300px;
  }
  .js-photo {
    &.fixed {
      width: 300px;
      height: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
