@media (--sp) {
  a {
    color: #f00;
  }
  .js-mv {
    margin-top: vw(300);
  }
  .js-photo {
    &.fixed {
      width: vw(300);
      height: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
