@media (--tb) {
  a {
    color: #fcc;
  }
  .js-mv {
    margin-top: vwTb(300);
  }
  .js-photo {
    &.fixed {
      width: vwTb(300);
      height: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
