@media (--pc) {
  .page-listDot {
    list-style: disc;
    padding-left: 20px;
    &__item {
      &::marker {
        color: #000;
      }
    }
  }
  .page-listNum {
    list-style: decimal;
    padding-left: 24px;
    &__item {
      &::marker {
        font-weight: bold;
      }
    }
  }
}
