@media (--sp) {
  .page-listDot {
    list-style: disc;
    padding-left: vw(30);
    &__item {
      &::marker {
        color: #000;
      }
    }
  }
  .page-listNum {
    list-style: decimal;
    padding-left: vw(40);
    &__item {
      &::marker {
        font-weight: bold;
      }
    }
  }
}
