@media (--tb) {
  .page-listDot {
    list-style: disc;
    padding-left: vwTb(20);
    &__item {
      &::marker {
        color: #000;
      }
    }
  }
  .page-listNum {
    list-style: decimal;
    padding-left: vwTb(24);
    &__item {
      &::marker {
        font-weight: bold;
      }
    }
  }
}
