@media (--pc) {
  .txtErr {
    width: 100%;
    margin-top: 10px;
    color: var(--col_txtError);
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.1;
  }
  .file_note {
    width: 100%;
    margin-top: 5px;
    color: var(--col_form-note);
    font-size: rem(14);
    line-height: 1.2;
    font-weight: 400;
  }
  .file_mask {
    display: flex;
    align-items: center;
    .show_file {
      line-height: 1.5;
    }
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'] {
    width: 100%;
    height: 54px;
    padding: 10px 19px;
    border: none;
    outline: none;
    background: var(--col_bgInput);
    box-shadow: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid var(--col_bdInput);
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: rem(16);
    line-height: 1;
    letter-spacing: 0.1em;
    white-space: nowrap;
    &.error {
      background: var(--col_bgError);
    }
    &::-ms-clear {
      display: none;
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }
  select {
    width: 100%;
    height: 55px;
    padding: 10px 30px 10px 20px;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    background: #f2f2f2 url('../images/common/bg_select.svg') center right 14px no-repeat;
    background-size: 6px 10px;
    appearance: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: rem(16);
    letter-spacing: 0.1em;
    &::-ms-expand {
      display: none;
    }
    &.error {
      background: var(--col_bgError) url('../images/common/bg_select.svg') center right 10px no-repeat;
      background-size: 6px 10px;
    }
  }
  textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 14px 20px;
    border: none;
    outline: none;
    border-radius: 0;
    background: var(--col_bgInput);
    border: 1px solid var(--col_bdInput);
    box-shadow: none;
    overflow-y: auto;
    resize: vertical;
    appearance: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: rem(16);
    line-height: 1.8;
    letter-spacing: 0.1em;
    &.error {
      background: var(--col_bgError);
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }

  input[type='checkbox'] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    & + label {
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 28px;
        height: 28px;
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 28px;
        height: 28px;
        transform: translateY(-50%) scale(0);
        background: url('../images/common/ico-check.svg') center center no-repeat;
        background-size: 24px 20px;
        transition: transform 0.1s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='radio'] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    & + label {
      position: relative;
      display: inline-block;
      padding-left: 45px;
      cursor: pointer;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 6px;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transform: translateY(-50%) scale(0);
        background: var(--col_primary);
        transition: transform 0.2s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='file'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: none;
    visibility: hidden;
    & + label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 55px;
      margin-right: 20px;
      border-radius: 5px;
      background: var(--col_primary);
      color: #fff;
      transition: opacity 0.3s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  button {
    padding: 0;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: rem(16);
    line-height: lh(16, 30);
    letter-spacing: 0.075em;
    font-weight: 500;
  }
  .frm {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    &-action {
      margin-top: 64px;
    }
    &-required {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 49px;
      height: 19px;
      margin-top: 4px;
      background-color: var(--col_primary);
      border-radius: 2em;
      color: #fff;
      font-size: rem(12);
      line-height: 1;
    }
    &-steps {
      counter-reset: step;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 6px;
      margin-bottom: 35px;
      &__item {
        position: relative;
        counter-increment: step;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 48px;
        line-height: lh(16, 14);
        background: var(--col_step);
        border: 1px solid var(--col_step);
        &:before {
          content: counter(step) '.';
          margin-top: 3px;
          font-family: var(--font_base);
        }
        &.current {
          background: #fff;
          border-color: var(--col_primary);
          color: var(--col_primary);
        }
        &:not(:last-of-type) {
          &:after {
            position: absolute;
            top: 50%;
            right: -16px;
            content: '';
            width: 10px;
            height: 10px;
            border-top: 2px solid var(--col_step-arrow);
            border-right: 2px solid var(--col_step-arrow);
            transform: translate(0, -50%) rotate(45deg) skewY(-5deg);
          }
        }
      }
    }
    &-heading {
      &__lead {
        margin-bottom: 50px;
        font-size: rem(20);
        line-height: lh(20, 30);
        font-weight: 400;
        color: var(--col_body);
        text-align: center;
      }
    }
    &-notice {
      text-align: center;
    }
    &-lb,
    &-input {
      width: 100%;
    }
    &-lb {
      width: 218px;
      flex-shrink: 0;
      margin-top: 3px;
      font-weight: 700;
    }
    &-input {
      flex: 1;
      &.tel-group {
        display: flex;
        align-items: center;
        input {
          width: 168px;
        }
        span {
          padding-bottom: 7px;
          margin: 0 8px;
          font-size: rem(38);
          line-height: 1;
        }
      }
      input {
        &.-md {
          width: 50%;
        }
        + p {
          font-size: rem(14);
          margin-top: 19px;
          line-height: 1;
          color: #bbbbbb;
          font-weight: 500;
        }
        + .frm-txt {
          &-error {
            margin-top: 10px;
            color: var(--col_bgError)-text;
            line-height: 1.1;
            + p {
              font-size: rem(14);
              margin-top: 19px;
              line-height: 1;
              color: #bbbbbb;
              font-weight: 500;
            }
          }
        }
      }
      .time-group {
        display: flex;
        align-items: center;
        .time-lb {
          margin: 0 38px 0 9px;
          color: var(--col_dark);
        }
        .c-select,
        input {
          flex: 1 1 auto;
          max-width: 180px;
          .select {
            text-align: center;
          }
        }
      }
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      padding: 25px 0 25px;
      &:not(:last-of-type) {
        border-bottom: 1px solid #aeaeae;
      }
      &-child {
        width: 380px;
        margin-left: 40px;
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
      }
    }
    &-privacy {
      margin-top: 52px;
      text-align: center;
      &-txt {
        margin-bottom: 28px;
      }
      label {
        padding-left: 38px;
        padding-bottom: 10px;
        color: var(--col_primary);
        a {
          padding-bottom: 4px;
          border-bottom: 1px solid rgba(#000, 1);
          transition: border 0.3s ease-out;
          &:hover {
            border-bottom: 1px solid rgba(#000, 0);
          }
        }
      }
    }
    &-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      .c-btn {
        width: 340px;
        margin: 0 15px;
      }
    }
    .list-radio {
      display: flex;
      flex-wrap: wrap;
      margin-left: -31px;
      margin-top: -3px;
    }
    .radio {
      margin-left: 25px;
      margin-top: 10px;
    }
    &--confirm {
      .frm-row {
        margin-bottom: 0;
        padding: 18px 0;
        border-bottom: 1px solid var(--col_bdInput);
        &:first-of-type {
          border-top: 1px solid var(--col_bdInput);
        }
      }
      .frm-lb {
        margin-bottom: 0;
      }
      .frm-input {
        color: var(--col_placehoder);
      }
      .frm-btn {
        margin-top: 80px;
        justify-content: space-between;
      }
    }
    &--complete {
      .frm-btn {
        margin-top: 70px;
      }
    }
  }
}
