@media (--sp) {
  .txtErr {
    width: 100%;
    margin-top: vw(15);
    color: var(--col_txtError);
    font-size: vw(24);
    font-weight: 400;
    line-height: 1.1;
  }

  .file_note {
    width: 100%;
    margin-top: vw(8);
    color: var(--col_form-note);
    font-size: vw(25);
    line-height: 1.4;
    font-weight: 400;
  }
  .file_mask {
    display: flex;
    align-items: center;
    .btn_file {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(280);
      height: vw(90);
      margin-right: vw(25);
      border-radius: vw(10);
      background: var(--col_primary);
      color: #fff;
    }
    .show_file {
      line-height: 1.5;
    }
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'] {
    width: 100%;
    height: vw(90);
    padding: vw(19) vw(27) vw(18);
    border: none;
    border-radius: 0;
    background: var(--col_bgInput);
    border: 1px solid var(--col_bdInput);
    @mixin form_reset;
    line-height: 1;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: var(--col_primary);
    &.error {
      background: var(--col_bgError);
    }
    &::-ms-clear {
      display: none;
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }
  select {
    width: 100%;
    height: vw(90);
    padding: vw(18) vw(35) vw(18) vw(27);
    border: none;
    border-radius: 0;
    background: var(--col_bgSelect) url('../images/common/bg_select.svg') center right vw(20) no-repeat;
    background-size: vw(16) vw(20);
    @mixin form_reset;
    line-height: 1;
    letter-spacing: 0.1em;
    white-space: nowrap;

    &::-ms-expand {
      display: none;
    }
    &.error {
      background: var(--col_bgError) url('../images/common/bg_select.svg') center right vw(20) no-repeat;
      background-size: vw(16) vw(20);
    }
  }
  textarea {
    width: 100%;
    min-height: vw(400);
    padding: vw(25) vw(27);
    border-radius: 0;
    border: none;
    background: var(--col_bgInput);
    overflow: auto;
    resize: vertical;
    border: 1px solid var(--col_bdInput);
    @mixin form_reset;
    line-height: 1.8;
    letter-spacing: 0.1em;
    &.error {
      background: var(--col_bgError);
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }

  input[type='checkbox'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    & + label {
      position: relative;
      padding-left: vw(76);
      cursor: pointer;
      &:before {
        position: absolute;
        top: calc(50% + vw(2));
        left: 0;
        content: '';
        width: vw(45);
        height: vw(45);
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: vw(2);
        content: '';
        width: vw(45);
        height: vw(45);
        transform: translateY(-50%) scale(0);
        background: url('../images/common/ic_check.svg') no-repeat;
        background-size: vw(45) vw(39);
        transition: transform 0.1s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='radio'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    &:not(:last-of-type) {
      & + label {
        margin-right: vw(40);
      }
    }
    & + label {
      position: relative;
      display: inline-block;
      padding-left: vw(60);
      line-height: 1.4;
      cursor: pointer;
      &:before {
        position: absolute;
        top: calc(50% + vw(1));
        left: 0;
        content: '';
        width: vw(45);
        height: vw(45);
        border-radius: 50%;
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: calc(50% + vw(1));
        left: vw(9);
        content: '';
        width: vw(27);
        height: vw(27);
        border-radius: 50%;
        transform: translateY(-50%) scale(0);
        background: var(--col_primary);
        transition: transform 0.2s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='file'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
  }
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  button {
    padding: 0;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: vw(26);
    line-height: lh(26, 44);
    font-weight: 400;
    overflow: visible;
  }

  .frm {
    width: 100%;
    padding: 0 vw(40);
    &-action {
      margin-top: vw(100);
    }
    &-required {
      color: var(--col_primary);
    }
    &-steps {
      counter-reset: step;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: vw(6);
      margin-bottom: vw(48);
      &__item {
        position: relative;
        counter-increment: step;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: vw(200);
        height: vw(80);
        font-size: vw(26);
        line-height: lh(26, 24);
        background: var(--col_step);
        border: 1px solid var(--col_step);
        &:before {
          content: counter(step) '.';
          margin-top: vw(3);
          font-family: var(--font_base);
        }
        &.current {
          background: #fff;
          border-color: var(--col_primary);
          color: var(--col_primary);
        }
        &:not(:last-of-type) {
          &:after {
            position: absolute;
            top: 50%;
            right: vw(-26);
            content: '';
            width: vw(16);
            height: vw(16);
            border-top: vw(3) solid var(--col_step-arrow);
            border-right: vw(3) solid var(--col_step-arrow);
            transform: translate(0, -50%) rotate(45deg) skewY(-5deg);
          }
        }
      }
    }
    &-notice {
      text-align: left;
    }
    &-lb,
    &-input {
      width: 100%;
    }
    &-lb {
      margin-bottom: vw(11);
    }
    &-lb {
      display: flex;
      align-items: center;
      margin-bottom: vw(20);
      font-weight: bold;
      line-height: vw(34);
    }
    &-input {
      &.-tel {
        display: flex;
        align-items: center;
        input {
          width: vw(209);
        }
        span {
          padding-bottom: vw(7);
          margin: 0 vw(8);
          font-size: vw(38);
          line-height: 1;
        }
      }
      input {
        + p {
          margin-top: vw(28);
          margin-bottom: vw(-7);
          color: #bbbbbb;
          font-weight: 500;
        }
        + .frm-txt {
          &-error {
            margin-top: vw(15);
            color: var(--col_bgError)-text;
            line-height: 1.1;
            + p {
              margin-top: vw(28);
              margin-bottom: vw(-7);
              color: #bbbbbb;
              font-weight: 500;
            }
          }
        }
      }
      .time-group {
        display: flex;
        align-items: center;
        .time-lb {
          margin: 0 vw(20);
          color: var(--col_dark);
        }
        .c-select {
          flex: 1 1 auto;
          max-width: vw(180);
          .select {
            text-align: center;
          }
        }
      }
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      padding: vw(29) 0 vw(30);
      &:not(:last-of-type) {
        border-bottom: 1px solid #aeaeae;
      }
      &-child {
        width: 100%;
        &:not(:last-of-type) {
          margin-bottom: vw(33);
        }
      }
    }
    &-privacy {
      margin-top: vw(98);
      text-align: center;
      &-txt {
        margin-bottom: vw(45);
      }
      label {
        color: var(--col_primary);
        text-decoration: underline;
        text-underline-offset: vw(4);
        a {
          padding-bottom: vw(7);
          border-bottom: 1px solid var(--col_body);
          transition: border 0.3s ease-out;
        }
      }
    }
    &-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: vw(59);
      .c-btn {
        width: vw(570);
        margin-top: vw(29);
      }
    }
    .list-radio {
      margin-left: vw(-15);
    }
    .radio {
      margin-top: vw(13);
    }
    &--confirm {
      .frm-action {
        margin-top: vw(77);
      }
      .frm-row {
        margin-bottom: 0;
        padding: vw(24) 0;
        border-bottom: 1px solid var(--col_bdInput);
        &:first-of-type {
          border-top: 1px solid var(--col_bdInput);
        }
      }
      .frm-lb {
        margin-bottom: 0;
      }
      .frm-input {
        color: var(--col_placehoder);
      }
      .frm-btn {
        margin-top: vw(122);
        justify-content: space-between;
        .btn {
          width: vw(330);
        }
      }
    }
    &--complete {
      .frm-notice {
        margin-top: vw(132);
        text-align: center;
      }
      .frm-btn {
        margin-top: vw(70);
      }
    }
  }
}
