@media (--tb) {
  .txtErr {
    width: 100%;
    margin-top: vwTb(10);
    color: var(--col_txtError);
    font-size: vwTb(14);
    font-weight: 400;
    line-height: 1.1;
  }
  .file_note {
    width: 100%;
    margin-top: vwTb(5);
    color: var(--col_form-note);
    font-size: vwTb(14);
    line-height: 1.2;
    font-weight: 400;
  }
  .file_mask {
    display: flex;
    align-items: center;
    .show_file {
      line-height: 1.5;
    }
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='password'] {
    width: 100%;
    height: vwTb(54);
    padding: vwTb(10) vwTb(19);
    border: none;
    outline: none;
    background: var(--col_bgInput);
    box-shadow: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid var(--col_bdInput);
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: vwTb(16);
    line-height: 1;
    letter-spacing: 0.1em;
    white-space: nowrap;
    &.error {
      background: var(--col_bgError);
    }
    &::-ms-clear {
      display: none;
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }
  select {
    width: 100%;
    height: vwTb(55);
    padding: vwTb(10) vwTb(30) vwTb(10) vwTb(20);
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    background: #f2f2f2 url('../images/common/bg_select.svg') center right vwTb(14) no-repeat;
    background-size: vwTb(6) vwTb(10);
    appearance: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: vwTb(16);
    letter-spacing: 0.1em;
    &::-ms-expand {
      display: none;
    }
    &.error {
      background: var(--col_bgError) url('../images/common/bg_select.svg') center right vwTb(10) no-repeat;
      background-size: vwTb(6) vwTb(10);
    }
  }
  textarea {
    display: block;
    width: 100%;
    min-height: vwTb(200);
    padding: vwTb(14) vwTb(20);
    border: none;
    outline: none;
    border-radius: 0;
    background: var(--col_bgInput);
    border: 1px solid var(--col_bdInput);
    box-shadow: none;
    overflow-y: auto;
    resize: vertical;
    appearance: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: vwTb(16);
    line-height: 1.8;
    letter-spacing: 0.1em;
    &.error {
      background: var(--col_bgError);
    }
    &::-webkit-input-placeholder {
      color: var(--col_placehoder);
    }
    &:-ms-input-placeholder {
      color: var(--col_placehoder);
    }
    &::placeholder {
      color: var(--col_placehoder);
    }
  }

  input[type='checkbox'] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    & + label {
      position: relative;
      padding-left: vwTb(40);
      cursor: pointer;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: vwTb(28);
        height: vwTb(28);
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: vwTb(28);
        height: vwTb(28);
        transform: translateY(-50%) scale(0);
        background: url('../images/common/ico-check.svg') center center no-repeat;
        background-size: vwTb(24) vwTb(20);
        transition: transform 0.1s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='radio'] {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
    & + label {
      position: relative;
      display: inline-block;
      padding-left: vwTb(45);
      cursor: pointer;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: vwTb(28);
        height: vwTb(28);
        border-radius: 50%;
        border: 1px solid var(--col_bdInput);
        transform: translateY(-50%);
      }
      &:after {
        position: absolute;
        top: 50%;
        left: vwTb(6);
        content: '';
        width: vwTb(16);
        height: vwTb(16);
        border-radius: 50%;
        transform: translateY(-50%) scale(0);
        background: var(--col_primary);
        transition: transform 0.2s ease-out;
      }
    }
    &:checked {
      & + label {
        &:after {
          transform: translateY(-50%) scale(1);
        }
      }
    }
    &.error {
      & + label {
        &:before {
          background: var(--col_bgError);
        }
      }
    }
  }
  input[type='file'] {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: none;
    visibility: hidden;
    & + label {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vwTb(200);
      height: vwTb(55);
      margin-right: vwTb(20);
      border-radius: vwTb(5);
      background: var(--col_primary);
      color: #fff;
      transition: opacity 0.3s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  button {
    padding: 0;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    font-family: var(--font_base);
    color: var(--col_body);
    font-size: vwTb(16);
    line-height: lh(16, 30);
    letter-spacing: 0.075em;
    font-weight: 500;
  }
  .frm {
    width: 100%;
    max-width: vwTb(800);
    margin: 0 auto;
    &-action {
      margin-top: vwTb(64);
    }
    &-required {
      display: flex;
      justify-content: center;
      align-items: center;
      width: vwTb(49);
      height: vwTb(19);
      margin-top: vwTb(4);
      background-color: var(--col_primary);
      border-radius: 2em;
      color: #fff;
      font-size: vwTb(12);
      line-height: 1;
    }
    &-steps {
      counter-reset: step;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: vwTb(6);
      margin-bottom: vwTb(35);
      &__item {
        position: relative;
        counter-increment: step;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: vwTb(250);
        height: vwTb(48);
        line-height: lh(16, 14);
        background: var(--col_step);
        border: 1px solid var(--col_step);
        &:before {
          content: counter(step) '.';
          margin-top: vwTb(3);
          font-family: var(--font_base);
        }
        &.current {
          background: #fff;
          border-color: var(--col_primary);
          color: var(--col_primary);
        }
        &:not(:last-of-type) {
          &:after {
            position: absolute;
            top: 50%;
            right: vwTb(-16);
            content: '';
            width: vwTb(10);
            height: vwTb(10);
            border-top: vwTb(2) solid var(--col_step-arrow);
            border-right: vwTb(2) solid var(--col_step-arrow);
            transform: translate(0, -50%) rotate(45deg) skewY(-5deg);
          }
        }
      }
    }
    &-heading {
      &__lead {
        margin-bottom: vwTb(50);
        font-size: vwTb(20);
        line-height: lh(20, 30);
        font-weight: 400;
        color: var(--col_body);
        text-align: center;
      }
    }
    &-notice {
      text-align: center;
    }
    &-lb,
    &-input {
      width: 100%;
    }
    &-lb {
      width: vwTb(218);
      flex-shrink: 0;
      margin-top: vwTb(3);
      font-weight: 700;
    }
    &-input {
      flex: 1;
      &.tel-group {
        display: flex;
        align-items: center;
        input {
          width: vwTb(168);
        }
        span {
          padding-bottom: vwTb(7);
          margin: 0 vwTb(8);
          font-size: vwTb(38);
          line-height: 1;
        }
      }
      input {
        &.-md {
          width: 50%;
        }
        + p {
          font-size: vwTb(14);
          margin-top: vwTb(19);
          line-height: 1;
          color: #bbbbbb;
          font-weight: 500;
        }
        + .frm-txt {
          &-error {
            margin-top: vwTb(10);
            color: var(--col_bgError)-text;
            line-height: 1.1;
            + p {
              font-size: vwTb(14);
              margin-top: vwTb(19);
              line-height: 1;
              color: #bbbbbb;
              font-weight: 500;
            }
          }
        }
      }
      .time-group {
        display: flex;
        align-items: center;
        .time-lb {
          margin: 0 vwTb(38) 0 vwTb(9);
          color: var(--col_dark);
        }
        .c-select,
        input {
          flex: 1 1 auto;
          max-width: vwTb(180);
          .select {
            text-align: center;
          }
        }
      }
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      padding: vwTb(25) 0 vwTb(25);
      &:not(:last-of-type) {
        border-bottom: 1px solid #aeaeae;
      }
      &-child {
        width: vwTb(380);
        margin-left: vwTb(40);
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
      }
    }
    &-privacy {
      margin-top: vwTb(52);
      text-align: center;
      &-txt {
        margin-bottom: vwTb(28);
      }
      label {
        padding-left: vwTb(38);
        padding-bottom: vwTb(10);
        color: var(--col_primary);
        a {
          padding-bottom: vwTb(4);
          border-bottom: 1px solid rgba(#000, 1);
          transition: border 0.3s ease-out;
          &:hover {
            border-bottom: 1px solid rgba(#000, 0);
          }
        }
      }
    }
    &-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: vwTb(30);
      .c-btn {
        width: vwTb(340);
        margin: 0 vwTb(15);
      }
    }
    .list-radio {
      display: flex;
      flex-wrap: wrap;
      margin-left: vwTb(-31);
      margin-top: vwTb(-3);
    }
    .radio {
      margin-left: vwTb(25);
      margin-top: vwTb(10);
    }
    &--confirm {
      .frm-row {
        margin-bottom: 0;
        padding: vwTb(18) 0;
        border-bottom: 1px solid var(--col_bdInput);
        &:first-of-type {
          border-top: 1px solid var(--col_bdInput);
        }
      }
      .frm-lb {
        margin-bottom: 0;
      }
      .frm-input {
        color: var(--col_placehoder);
      }
      .frm-btn {
        margin-top: vwTb(80);
        justify-content: space-between;
      }
    }
    &--complete {
      .frm-btn {
        margin-top: vwTb(70);
      }
    }
  }
}
