@media (--pc) {
  .wysiwyg {
    a {
      position: relative;
      padding-left: 21px;
      color: var(--col_primary);
      text-decoration: underline;
      text-underline-offset: 3px;
      &:before {
        position: absolute;
        top: 3px;
        left: 0;
        content: '';
        display: block;
        width: 9px;
        height: 15px;
        background: url('../images/common/ic_arr_primary.svg') no-repeat;
        background-size: 9px 15px;
        transform: translate(0, 0);
        transition: transform 0.2s ease-out;
      }
      &:hover {
        &:before {
          transform: translate(3px, 0);
        }
      }
    }
    h1,
    h2,
    h3 {
      margin: 35px 0;
      padding-bottom: 15px;
      border-bottom: 2px solid var(--col_primary);
      font-size: rem(24);
      font-weight: 700;
      line-height: lh(24, 36);
      letter-spacing: ls(100);
    }

    h4,
    h5,
    h6 {
      position: relative;
      margin: 49px 0 30px;
      padding-left: 14px;
      font-size: rem(20);
      font-weight: 400;
      line-height: lh(20, 30);
      letter-spacing: ls(100);
      &:before {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        content: '';
        width: 4px;
        height: 90%;
        background: var(--col_primary);
        transform: translateY(-50%);
      }
    }

    ul {
      &:not(:last-child) {
        margin-bottom: 26px;
      }
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      > li {
        position: relative;
        padding-left: 30px;
        &:before {
          position: absolute;
          top: 0;
          left: 2px;
          content: '●';
          color: var(--col_primary);
        }
      }
    }

    img {
      max-width: 100%;
    }

    figure,
    img {
      &:not(:last-child) {
        margin-bottom: 28px;
      }
    }
    ol {
      counter-reset: listNum;
      &:not(:last-child) {
        margin-bottom: 28px;
      }
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      > li {
        position: relative;
        padding-left: 28px;
        counter-increment: listNum;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          font-family:var(--font_base)
          font-weight: 400;
          content: counter(listNum) '.';
        }
        &:last-of-type {
          ol {
            margin-bottom: 0;
          }
        }
      }
      ol {
        margin-top: 4px;
        margin-bottom: 20px;
        counter-reset: listSub;
        > li {
          position: relative;
          padding-left: 35px;
          counter-increment: listSub;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family:var(--font_base)
            font-weight: 400;
            content: counter(listNum) '-' counter(listSub) '.';
          }
        }
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 26px;
      }
    }
    blockquote {
      font-size: rem(14);
      line-height: lh(14, 24);
      letter-spacing: ls(100);
      font-style: italic;
      padding: 34px 50px;
      background-color: #f8f8f8;
      margin-bottom: 40px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 17px;
        display: block;
        width: 15px;
        height: 11px;
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
        transform: rotate(180deg);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 17px;
        right: 17px;
        display: block;
        width: 15px;
        height: 11px;
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
      }
    }
    iframe,
    video {
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}