@media (--sp) {
  .wysiwyg {
    a {
      position: relative;
      padding-left: vw(37);
      color: var(--col_primary);
      text-decoration: underline;
      text-underline-offset: vw(5);
      &:before {
        position: absolute;
        top: vw(7);
        left: vw(-3);
        content: '';
        width: vw(14);
        height: vw(23);
        background: url('../images/common/ic_arr_primary.svg') no-repeat;
        background-size: vw(14) vw(23);
      }
    }

    h1,
    h2,
    h3 {
      margin-bottom: vw(50);
      padding-bottom: vw(22);
      border-bottom: vw(2) solid var(--col_primary);
      font-size: vw(36);
      font-weight: 700;
      line-height: lh(36, 48);
      letter-spacing: ls(100);
    }

    h4,
    h5,
    h6 {
      position: relative;
      margin: vw(72) 0 vw(36);
      padding-left: vw(22);
      font-size: vw(32);
      font-weight: 400;
      line-height: lh(32, 40);
      letter-spacing: ls(100);
      &:before {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        content: '';
        width: vw(4);
        height: 90%;
        background: var(--col_primary);
        transform: translateY(-50%);
      }
    }

    ul {
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      &:not(:last-child) {
        margin-bottom: vw(26);
      }
      > li {
        position: relative;
        padding-left: vw(46);
        &:before {
          position: absolute;
          top: 0;
          left: vw(2);
          content: '●';
          color: var(--col_primary);
        }
      }
    }
    ol {
      counter-reset: listNum;
      &:not(:last-child) {
        margin-bottom: vw(26);
      }
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      > li {
        position: relative;
        padding-left: vw(46);
        counter-increment: listNum;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          font-family:var(--font_base)
          font-weight: 400;
          content: counter(listNum) '.';
        }
        &:last-of-type {
          ol {
            margin-bottom: 0;
          }
        }
      }
      ol {
        counter-reset: listSub;
        margin-bottom: vw(28);
        > li {
          position: relative;
          padding-left: vw(55);
          margin-top: vw(5);
          counter-increment: listSub;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family:var(--font_base)
            font-weight: 400;
            content: counter(listNum) '-' counter(listSub) '.';
          }
        }
      }
    }
    img {
      max-width: 100%;
    }
    figure,
    img {
      &:not(:last-child) {
        margin-bottom: vw(50);
      }
    }
    p {
      &:not(:last-child) {
        margin-bottom: vw(26);
      }
    }

    iframe,
    video {
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: vw(30);
      }
    }

    blockquote {
      font-size: vw(24);
      line-height: lh(24, 44);
      letter-spacing: ls(100);
      font-style: italic;
      padding: vw(50) vw(84);
      background-color: #f8f8f8;
      margin-bottom: vw(49);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: vw(25);
        left: vw(25);
        display: block;
        width: vw(26);
        height: vw(20);
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
        transform: rotate(180deg);
        background-size: 100% 100%;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: vw(40);
        right: vw(25);
        display: block;
        width: vw(26);
        height: vw(20);
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}