@media (--tb) {
  .wysiwyg {
    a {
      position: relative;
      padding-left: vwTb(21);
      color: var(--col_primary);
      text-decoration: underline;
      text-underline-offset: vwTb(3);
      &:before {
        position: absolute;
        top: vwTb(3);
        left: 0;
        content: '';
        display: block;
        width: vwTb(9);
        height: vwTb(15);
        background: url('../images/common/ic_arr_primary.svg') no-repeat;
        background-size: vwTb(9) vwTb(15);
        transform: translate(0, 0);
        transition: transform 0.2s ease-out;
      }
      &:hover {
        &:before {
          transform: translate(vwTb(3), 0);
        }
      }
    }
    h1,
    h2,
    h3 {
      margin: vwTb(35) 0;
      padding-bottom: vwTb(15);
      border-bottom: vwTb(2) solid var(--col_primary);
      font-size: vwTb(24);
      font-weight: 700;
      line-height: lh(24, 36);
      letter-spacing: ls(100);
    }

    h4,
    h5,
    h6 {
      position: relative;
      margin: vwTb(49) 0 vwTb(30);
      padding-left: vwTb(14);
      font-size: vwTb(20);
      font-weight: 400;
      line-height: lh(20, 30);
      letter-spacing: ls(100);
      &:before {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        content: '';
        width: vwTb(4);
        height: 90%;
        background: var(--col_primary);
        transform: translateY(-50%);
      }
    }

    ul {
      &:not(:last-child) {
        margin-bottom: vwTb(26);
      }
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      > li {
        position: relative;
        padding-left: vwTb(30);
        &:before {
          position: absolute;
          top: 0;
          left: vwTb(2);
          content: '●';
          color: var(--col_primary);
        }
      }
    }

    img {
      max-width: 100%;
    }

    figure,
    img {
      &:not(:last-child) {
        margin-bottom: vwTb(28);
      }
    }
    ol {
      counter-reset: listNum;
      &:not(:last-child) {
        margin-bottom: vwTb(28);
      }
      a {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
      > li {
        position: relative;
        padding-left: vwTb(28);
        counter-increment: listNum;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          font-family:var(--font_base)
          font-weight: 400;
          content: counter(listNum) '.';
        }
        &:last-of-type {
          ol {
            margin-bottom: 0;
          }
        }
      }
      ol {
        margin-top: vwTb(4);
        margin-bottom: vwTb(20);
        counter-reset: listSub;
        > li {
          position: relative;
          padding-left: vwTb(35);
          counter-increment: listSub;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family:var(--font_base)
            font-weight: 400;
            content: counter(listNum) '-' counter(listSub) '.';
          }
        }
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: vwTb(26);
      }
    }
    blockquote {
      font-size: vwTb(14);
      line-height: lh(14, 24);
      letter-spacing: ls(100);
      font-style: italic;
      padding: vwTb(34) vwTb(50);
      background-color: #f8f8f8;
      margin-bottom: vwTb(40);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: vwTb(17);
        left: vwTb(17);
        display: block;
        width: vwTb(15);
        height: vwTb(11);
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
        transform: rotate(180deg);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: vwTb(17);
        right: vwTb(17);
        display: block;
        width: vwTb(15);
        height: vwTb(11);
        background: url('../images/common/ic_quote.svg') center/contain no-repeat;
      }
    }
    iframe,
    video {
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: vwTb(30);
      }
    }
  }
}