/* よく使うホバー。不要なら削除 */
@media (hover: hover) {
  .link {
    /*
      .link__alpha: 透明度アニメーション
      a.link__text(href="#") リンク文字
    */
    &__alpha {
      cursor: pointer;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.6;
      }
    }
    /*
      .link__color: 色アニメーション
      a.link__text(href="#") リンク文字
    */
    &__color {
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: #fff;
      }
    }
    /*
      .link__text: 下線アニメーション
      a.link__text(href="#") リンク文字
    */
    &__text {
      cursor: pointer;
      position: relative;
      &:before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: currentColor;
        position: absolute;
        left: 0;
        bottom: 0;
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }
      &:hover {
        &:before {
          transform-origin: left center;
          transform: scale(1, 1);
        }
      }
    }
    /*
      .link__line:複数行対応下線アニメーション
      a.link__line(href="#")
        | あいうえお
        br
        | かきくけこ
    */
    &__line {
      padding-bottom: 0.25em;
      background: linear-gradient(currentColor, currentColor) 0 100%/0 1px no-repeat;
      transition: background 0.3s ease;
      &:hover {
        background-size: 100% 1px;
      }
    }
    /*
    .link__fill : 塗りつぶしアニメーション
    width, height、色などは別途指定。

    a.link__fill(href="#")
      span リンク文字
    */
    &__fill {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        position: relative;
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }
      &:hover {
        &:before {
          transform-origin: left center;
          transform: scale(1, 1);
        }
      }
    }

    /*
      .link__zoom : anchor内に画像がある場合拡大。他のと重ねがけ出来る。
      a.link__zoom(href="#")
        figure
          img(src="//placehold.jp/dcdcdc/ffffff/100x100.png", alt="dummy")
    */
    &__zoom {
      figure {
        overflow: hidden;
      }
      img {
        transition: transform 0.4s ease;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }
}
