.thumbnail {
  &-object-fit {
    position: relative;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden;
    > img {
      height: 100%;
      left: 50%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      &.of-contain {
        object-fit: contain !important;
      }
    }
  }
  &--1x1 {
    padding-bottom: 100% !important;
  }
  &--16x9 {
    padding-bottom: calc(9 / 16 * 100%);
  }
}
