include ../../utils/_variables
include ../../utils/_mixins
include ../../utils/_data

-
  var listMenu = [
    {
      label: 'コース ・ 料金',
      link: '#course_price',
      isOutside: false
    },
    {
      label: '受講の流れ',
      link: '#flow',
      isOutside: false
    },
    {
      label: '選ばれる理由',
      link: '#point',
      isOutside: false
    },
    {
      label: '講師紹介',
      link: '#instructor',
      isOutside: false
    },
    {
      label: 'ブログ',
      link: '#',
      isOutside: true
    },
    {
      label: 'お問い合わせ',
      link: 'second/',
      isOutside: false
    }
  ];

header.header#header
  .header__wrap
    h1.header__logo
      a(href="/"+subDirectory) Logo
    .header__content 
      .header__hamburger#js-hamburger
        span.burger-lines
      .header__menu#js-menu
        nav.header__nav
          +menu(listMenu)