@media (--pc) {
  .c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 60px; */
    padding: 16px 35px;
    border: 2px solid transparent;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    /* color: #fff; */
    color: var(--col_body);
    font-size: rem(16);
    line-height: lh(16, 24);
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease-out, background 0.3s ease-out;
    @media (hover: hover) {
      /* when hover is supported */
      &:hover {
        opacity: 1;
        background: #fff;
        color: var(--col_primary);
      }
    }
    span {
      flex: 1;
      /* padding: 0 30px; */
    }
    &__ico {
      position: absolute;
      display: flex;
      align-items: center;
      top: 2px;
      bottom: 0;
      /* width: 27px;
      height: 27px; */
      width: 7px;
      height: 11px;
      margin: auto;
      background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
      background-size: 7px 11px;
      transition: background 0.3s ease-out;
      /* background: var(--col_primary);
      border-radius: 50%; */
      /* &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 7px;
        height: 11px;
        margin: auto;
        background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
        background-size: contain;
      } */
    }
    &.-primary {
      border-color: var(--col_primary);
      background: var(--col_primary);
      color: #fff;
      @media (hover: hover) {
        &:hover {
          background: #fff;
          color: var(--col_primary);
          .c-btn__ico {
            background: url(../images/common/ico-arrow-primary.svg) no-repeat top left;
            background-size: 7px 11px;
          }
        }
      }
    }
    &.-secondary {
      border-color: var(--col_primary);
      background: #fff;
      color: var(--col_primary);
      @media (hover: hover) {
        &:hover {
          background: var(--col_primary);
          color: #fff;
        }
      }
    }
    &.-next {
      position: relative;
      .c-btn__ico {
        right: 15px;
        transition: transform 0.3s ease-out;
      }
      @media (hover: hover) {
        &:hover {
          .c-btn__ico {
            transform: translate(5px);
          }
        }
      }
    }
    &.-back {
      position: relative;
      .c-btn__ico {
        transition: transform 0.3s ease-out;
        transform: scale(-1);
        left: 15px;
      }
      @media (hover: hover) {
        &:hover {
          .c-btn__ico {
            transform: scale(-1) translate(5px);
          }
        }
      }
    }
  }
}
