@media (--sp) {
  .c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: vw(28) vw(45) vw(29);
    border: 2px solid transparent;
    border-radius: vw(6);
    background: transparent;
    cursor: pointer;
    color: var(--col_body);
    font-size: vw(26);
    line-height: lh(26, 39);
    font-weight: 500;
    text-align: center;
    transition: color 0.2s ease, background 0.2s ease;
    &__ico {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;
      /* width: vw(27);
      height: vw(27); */
      width: vw(10);
      height: vw(15);
      margin: auto;
      background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
      background-size: vw(10) vw(15);
      transition: background 0.3s ease-out;
      /* background: var(--col_primary);
      border-radius: 50%; */
      /* &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: vw(7);
        height: vw(11);
        margin: auto;
        background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
        background-size: contain;
      } */
    }
    &.-primary {
      border-color: var(--col_primary);
      background: var(--col_primary);
      color: #fff;
    }
    &.-secondary {
      border-color: var(--col_primary);
      background: #fff;
      color: var(--col_primary);
    }
    &.-next {
      position: relative;
      .c-btn__ico {
        right: vw(20);
        transition: transform 0.3s ease-out;
      }
    }
    &.-back {
      position: relative;
      .c-btn__ico {
        transition: transform 0.3s ease-out;
        transform: scale(-1);
        left: vw(20);
      }
    }
  }
}
