@media (--tb) {
  .c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: vwTb(60); */
    padding: vwTb(16) vwTb(35);
    border: vwTb(2) solid transparent;
    border-radius: vwTb(6);
    background: transparent;
    cursor: pointer;
    /* color: #fff; */
    color: var(--col_body);
    font-size: vwTb(16);
    line-height: lh(16, 24);
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease-out, background 0.3s ease-out;
    @media (hover: hover) {
      /* when hover is supported */
      &:hover {
        opacity: 1;
        background: #fff;
        color: var(--col_primary);
      }
    }
    span {
      flex: 1;
      /* padding: 0 vwTb(30); */
    }
    &__ico {
      position: absolute;
      display: flex;
      align-items: center;
      top: vwTb(2);
      bottom: 0;
      /* width: vwTb(27);
      height: vwTb(27); */
      width: vwTb(7);
      height: vwTb(11);
      margin: auto;
      background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
      background-size: vwTb(7) vwTb(11);
      transition: background 0.3s ease-out;
      /* background: var(--col_primary);
      border-radius: 50%; */
      /* &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: vwTb(7);
        height: vwTb(11);
        margin: auto;
        background: url(../images/common/ico-arrow-btn.svg) no-repeat top left;
        background-size: contain;
      } */
    }
    &.-primary {
      border-color: var(--col_primary);
      background: var(--col_primary);
      color: #fff;
      @media (hover: hover) {
        &:hover {
          background: #fff;
          color: var(--col_primary);
          .c-btn__ico {
            background: url(../images/common/ico-arrow-primary.svg) no-repeat top left;
            background-size: vwTb(7) vwTb(11);
          }
        }
      }
    }
    &.-secondary {
      border-color: var(--col_primary);
      background: #fff;
      color: var(--col_primary);
      @media (hover: hover) {
        &:hover {
          background: var(--col_primary);
          color: #fff;
        }
      }
    }
    &.-next {
      position: relative;
      .c-btn__ico {
        right: vwTb(15);
        transition: transform 0.3s ease-out;
      }
      @media (hover: hover) {
        &:hover {
          .c-btn__ico {
            transform: translate(vwTb(5));
          }
        }
      }
    }
    &.-back {
      position: relative;
      .c-btn__ico {
        transition: transform 0.3s ease-out;
        transform: scale(-1);
        left: vwTb(15);
      }
      @media (hover: hover) {
        &:hover {
          .c-btn__ico {
            transform: scale(-1) translate(vwTb(5));
          }
        }
      }
    }
  }
}
