@media (--pc) {
  .paging {
    margin-top: 75px;
    text-align: center;
    &-wrap {
      display: inline-block;
    }
    &-list {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 51px;
      padding-right: 51px;
    }
    &-item {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        margin: 0 10px;
        /* padding-left: 2px; */
        border-radius: 50%;
        background: #fff;
        border: 1px solid var(--col_line);
        font-family: var(--font_en);
        font-size: rem(20);
        line-height: 1;
        font-weight: 500;
        color: #000;
        /* border-bottom: 1px solid transparent; */
        transition: all 0.3s ease;
        &:hover {
          border: 1px solid var(--col_primary);
          background: var(--col_primary);
          color: #fff;
          opacity: 1;
        }
      }
    }
    &-next,
    &-prev {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      a {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../images/common/ico-arrow-primary.svg') no-repeat center center;
        background-size: 8px 12px;
        transition: transform 0.3s ease;
      }
    }
    &-next {
      position: absolute;
      right: 0;
      a {
        &:hover {
          transform: translateX(5px);
        }
      }
    }
    &-prev {
      position: absolute;
      left: 0;
      transform: scaleX(-1);
      a {
        &:hover {
          transform: translateX(5px);
        }
      }
    }
    li {
      /* margin: 0 2px; */
      &.dot {
        margin: 0 8px;
        span {
          display: block;
          position: relative;
          padding-bottom: 10px;
          font-family: var(--font_en);
          font-size: rem(16);
          line-height: 55px;
          font-weight: 700;
          letter-spacing: ls(200);
        }
      }
      &.active {
        a {
          border: 1px solid var(--col_primary);
          background: var(--col_primary);
          color: #fff;
          opacity: 1;
          /* border-bottom: 1px solid var(--col_primary); */
        }
      }
      &.disable {
        pointer-events: none;
        cursor: not-allowed;
        user-select: none;
        /* opacity: 0.4; */
        a {
          background: url('../images/common/ico-arrow-grey.svg') no-repeat center center;
          background-size: 8px 12px;
          transition: transform 0.3s ease;
        }
      }
    }
  }
}
