@media (--sp) {
  .paging {
    margin-top: vw(72);
    text-align: center;
    &-wrap {
      display: inline-block;
    }
    &-list {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: vw(78);
      padding-right: vw(78);
    }
    &-item {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(83);
        height: vw(83);
        margin: 0 vw(15);
        padding-bottom: vw(4);
        border-radius: 50%;
        background: #fff;
        border: 1px solid var(--col_line);
        font-family: var(--font_en);
        font-size: vw(30);
        line-height: 1;
        font-weight: 500;
        color: #000;
      }
    }
    &-next,
    &-prev {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(78);
      height: vw(83);
      a {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../images/common/ico-arrow-primary.svg') no-repeat center center;
        background-size: vw(10) vw(15);
        transition: transform 0.3s ease;
      }
    }
    &-next {
      position: absolute;
      right: 0;
      a {
        &:hover {
          transform: translateX(vw(5));
        }
      }
    }
    &-prev {
      position: absolute;
      left: 0;
      transform: scaleX(-1);
      a {
        &:hover {
          transform: translateX(vw(5));
        }
      }
    }
    li {
      /* margin: 0 vw(2); */
      &.dot {
        margin: 0 vw(8);
        span {
          display: block;
          position: relative;
          padding-bottom: vw(18);
          font-family: var(--font_en);
          font-size: vw(28);
          line-height: vw(83);
          font-weight: 700;
          letter-spacing: ls(200);
        }
      }
      &.active {
        a {
          background: var(--col_primary);
          color: #fff;
          opacity: 1;
          /* border-bottom: vw(1) solid var(--col_primary); */
        }
      }
      &.disable {
        pointer-events: none;
        cursor: not-allowed;
        user-select: none;
        /* opacity: 0.4; */
        a {
          background: url('../images/common/ico-arrow-grey.svg') no-repeat center center;
          background-size: vw(10) vw(15);
          transition: transform 0.3s ease;
        }
      }
    }
  }
}
