@media (--tb) {
  .paging {
    margin-top: vwTb(75);
    text-align: center;
    &-wrap {
      display: inline-block;
    }
    &-list {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: vwTb(51);
      padding-right: vwTb(51);
    }
    &-item {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vwTb(55);
        height: vwTb(55);
        margin: 0 vwTb(10);
        /* padding-left: vwTb(2); */
        border-radius: 50%;
        background: #fff;
        border: 1px solid var(--col_line);
        font-family: var(--font_en);
        font-size: vwTb(20);
        line-height: 1;
        font-weight: 500;
        color: #000;
        /* border-bottom: 1px solid transparent; */
        transition: all 0.3s ease;
        &:hover {
          border: 1px solid var(--col_primary);
          background: var(--col_primary);
          color: #fff;
          opacity: 1;
        }
      }
    }
    &-next,
    &-prev {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: vwTb(55);
      height: vwTb(55);
      a {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../images/common/ico-arrow-primary.svg') no-repeat center center;
        background-size: vwTb(8) vwTb(12);
        transition: transform 0.3s ease;
      }
    }
    &-next {
      position: absolute;
      right: 0;
      a {
        &:hover {
          transform: translateX(vwTb(5));
        }
      }
    }
    &-prev {
      position: absolute;
      left: 0;
      transform: scaleX(-1);
      a {
        &:hover {
          transform: translateX(vwTb(5));
        }
      }
    }
    li {
      /* margin: 0 vwTb(2); */
      &.dot {
        margin: 0 vwTb(8);
        span {
          display: block;
          position: relative;
          padding-bottom: vwTb(10);
          font-family: var(--font_en);
          font-size: vwTb(16);
          line-height: vwTb(55);
          font-weight: 700;
          letter-spacing: ls(200);
        }
      }
      &.active {
        a {
          border: 1px solid var(--col_primary);
          background: var(--col_primary);
          color: #fff;
          opacity: 1;
          /* border-bottom: 1px solid var(--col_primary); */
        }
      }
      &.disable {
        pointer-events: none;
        cursor: not-allowed;
        user-select: none;
        /* opacity: 0.4; */
        a {
          background: url('../images/common/ico-arrow-grey.svg') no-repeat center center;
          background-size: vwTb(8) vwTb(12);
          transition: transform 0.3s ease;
        }
      }
    }
  }
}
