extends ./utils/_base.pug

block append stylesheet
  link(rel="stylesheet", href='/' + subDirectory + process.env.npm_package_config_assetPath + '/css/top.css')

block append classPage
  - var pageClass ='page-home'

block main
  .row
    .photo.js-mv
      +pic('top/img-01.jpg','top/img-01.jpg','item.alt').fit
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sapiente aspernatur quaerat quos odio doloribus quod, magni, itaque sunt vero tenetur corrupti voluptates fuga quasi corporis. Exercitationem libero rem repellendus.
    .photo
      +pic('top/img-03.jpg','top/img-02.jpg','item.alt').fit
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sapiente aspernatur quaerat quos odio doloribus quod, magni, itaque sunt vero tenetur corrupti voluptates fuga quasi corporis. Exercitationem libero rem repellendus.
    .js-photo
      +pic('top/img-02.jpg','top/img-03.jpg','item.alt').fit