section(style="margin: 30px 0 50px;")
  .row
    h2(style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 2px solid #000;")
      | Module button in site
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .c-btn.-primary
      ul(style="display: flex; justify-content:flex-start; flex-wrap: wrap; align-items:center; margin:-15px 0 0 -15px; width: calc(100% + 10px)")
        li(style="margin: 15px; width: 300px")
          a.c-btn.-primary(href="#anchor") Text button dummy
        li#test(style="margin: 10px; width: 300px")
          button.c-btn.-primary Lock
        li#test2(style="margin: 10px; width: 300px")
          button.c-btn.-primary Release
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .c-btn.-secondary
      ul(style="display: flex; justify-content:flex-start; flex-wrap: wrap; align-items:center; margin:-15px 0 0 -15px; width: calc(100% + 10px)")
        li(style="margin: 15px; width: 300px")
          a.c-btn.-secondary Text button dummy
        li(style="margin: 10px; width: 300px")
          button.c-btn.-secondary Text button dummy
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .c-btn.-back
      ul(style="display: flex; justify-content:flex-start; flex-wrap: wrap; align-items:center; margin:-15px 0 0 -15px; width: calc(100% + 10px)")
        li(style="margin: 15px; width: 300px")
          a.c-btn.-primary.-next
            span Text button dummy
            i.c-btn__ico
        li(style="margin: 10px; width: 300px")
          button.c-btn.-primary.-next
            span Text button dummy
            i.c-btn__ico
        li(style="margin: 10px; width: 300px")
          span.c-btn.-primary.-next
            span Text button dummy
            i.c-btn__ico
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .c-btn.-back
      ul(style="display: flex; justify-content:flex-start; flex-wrap: wrap; align-items:center; margin:-15px 0 0 -15px; width: calc(100% + 10px)")
        li(style="margin: 15px; width: 300px")
          a.c-btn.-primary.-back
            span Text button dummy
            i.c-btn__ico
        li(style="margin: 10px; width: 300px")
          button.c-btn.-primary.-back
            span Text button dummy
            i.c-btn__ico
        li(style="margin: 10px; width: 300px")
          span.c-btn.-primary.-back
            span Text button dummy
            i.c-btn__ico
      