section#anchor(style="margin: 30px 0 50px;")
  .row
    h2(style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 2px solid #000;")
      | Module list in site
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .page-listDot
      ul.page-listDot
        li.page-listDot__item Dummy
        li.page-listDot__item Dummy
        li.page-listDot__item Dummy
        li.page-listDot__item Dummy
        li.page-listDot__item Dummy

    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .page-listNum
      ol.page-listNum
        li.page-listNum__item Dummy
        li.page-listNum__item Dummy
        li.page-listNum__item Dummy
        li.page-listNum__item Dummy
        li.page-listNum__item Dummy
  