section(style="margin: 30px 0 50px;")
  .row
    h2(style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 2px solid #000;")
      | Module table in site
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") .page-tbl
      table.page-tbl(style="width: 100%;")
        thead 
          tr 
            th Dummy
            th Dummy
            th Dummy
            th Dummy
        tbody
          tr 
            td Dummy
            td 
              | Dummy
              br
              | Dummy
            td.txt-center Dummy
            td.txt-right 2080
          tr 
            td Dummy
            td Dummy
            td.txt-center Dummy
            td.txt-right 80
  