section(style="margin: 30px 0 50px;")
  .row
    h2(style="margin-bottom: 20px; padding-bottom: 15px; border-bottom: 2px solid #000;")
      | Module title in site
    article(style="margin-bottom: 40px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") +title('page-ttl', 'title01JP','TITLE01').-center
      //- h2.page-tl Title01
      +title('page-ttl', 'title01JP','TITLE01').-center
    article(style="margin-bottom: 20px;")
      h3(style="margin-bottom: 30px; padding-bottom: 10px; border-bottom: 1px solid #000;") +title('c-ttl01', 'component title JP','component title')
      +title('c-ttl01', 'component title JP','component title')
