@charset "utf-8";

@import './_config/_variables.css';
@import './_config/_mixin.css';
@import './_config/_media.css';
@import './_config/_root-setting.css';

/* 下記はcommonだけで良い */
/* @import './_config/_fonts.css'; */
@import './_config/_reset.css';
@import './_modules/_animation/_keyframes.css';
@import './_modules/_animation/_effect.css';
@import './_modules/_layout/_style';
@import './_modules/_header/_style';
@import './_modules/_footer/_style';
@import './_modules/_breadcrumb/_style';
@import './_modules/_mv/_style';
@import './_modules/_title/_style';
@import './_modules/_button/_style';
@import './_modules/_list/_style';
@import './_modules/_paging/_style';
@import './_modules/_form/_style';
@import './_modules/_table/_style';
@import './_modules/_wysiwyg/_style';
@import './_modules/_hover';
@import './_modules/_ratio';

@import './_container/_all';

a {
  color: currentColor;
  text-decoration: none;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/*
  SPでサーっとスクロール出来るやつ
  e.g) ul.touch-scroll.touch-scroll--x

  スムーズにスクロールさせる
  -webkit-overflow-scrolling: touch; は
  postcss-momentum-scrollingというプラグインが自動付与してくれるので
  基本的には各所でoverflow-*: scroll だけで対応出来るような作りにしてあります。
*/
.touch-scroll {
  &--x {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &--y {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
  }
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

body {
  color: var(--col_body);
  font-family: var(--font_base);
  font-weight: 400;
  text-size-adjust: none;
}

.loading {
  background: #fff;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100vw;
  z-index: 40000;
  &.loaded {
    opacity: 0;
    visibility: hidden;
  }
}
