include ./_jsonLD.pug
include ./_variables.pug
include ./_mixins

block meta
  -
    var title = "サンプル";
    var description = "";
    //- var keywords = "a,b,c,d,e"
    var url = "http://example.co.jp/"
    var noIndex = false;


block subTitle
  - var pageTitle = ''

-
  if (pageTitle.length) {
    pageTitle = pageTitle + ' | ';
  }

block classPage
  - var pageClass = '';


doctype html
html(lang='ja')
  head
    if isSSI
      != `\n\n    <!--#include virtual="${ assetPath }include/ga_head.html" -->\n`
    else
      include ../assets/include/ga_head.pug
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{pageTitle}#{title}
    script.
      const bodyWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      document.documentElement.style.setProperty('--vw', (bodyWidth / 100) + 'px');
      document.documentElement.style.setProperty('--vh', (window.innerHeight / 100) + 'px');
    
    block stylesheet
      link(rel="stylesheet", href=assetPath + 'css/common.css')
    
    meta(name="format-detection", content="telephone=no")
    meta(name='Description', content=description)
    //- meta(name='Keywords', content=keywords) ＊今やGoogleはここをサポートしていないのでデフォルトではdisableしておきます。
    if noIndex 
      meta(name="robots" content="noindex, nofollow")

    meta(property='og:type', content='website')
    meta(property='og:description', content=description)
    meta(property='og:title', content=pageTitle+title)
    meta(property='og:url', content=url)
    meta(property='og:image', content=url + 'og.png')
    meta(property='og:locale', content='ja_JP')

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:description', content=description)

    //- meta(name='twitter:site', content="@*****") *公式user名がある場合 https://developer.twitter.com/ja/docs/tweets/optimize-with-cards/guides/getting-started

    link(rel='shortcut icon', href='/favicon.ico')

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap")

    != `\n${ createLD(jsonLD) }`

    block richResults

  body
    if isSSI
      != `\n\n    <!--#include virtual="${ assetPath }include/ga_body.html" -->\n`
    else
      include ../assets/include/ga_body.pug
    #root.root(class=pageClass)
      //-
        isSSI = trueの時SSI, そうでない時pugでコーディング
        watch中に、static_files/include/header.htmlとかを作成すればpublic_htmlにコピーされる。
      if isSSI
        != `\n\n      <!--#include virtual="${ assetPath }include/header.html" -->\n`
      else
        include ../assets/include/header.pug

      main.main#main
        block main

      //-  SSIのfooter版。サーバーで使えるか使えないかで分けると良い。
      if isSSI
        != `\n\n      <!--#include virtual="${ assetPath }include/footer.html" -->\n`
      else
        include ../assets/include/footer.pug


    block script
      script(src=assetPath + 'js/vendor.js', defer)
      script(src=assetPath + 'js/runtime.js', defer)
      script(src=assetPath + 'js/bundle.js', defer)