-
  const getImageDimension = (src) => {
    const targetSrc = `${ src }`
    let targetPath = targetSrc
      .replace(/["']/g, '')
      .replace(/\.\.\//g, '')
      .replace(/^\//i, '');
    targetPath = nodePath.resolve(nodeDest, `${ process.env.npm_package_config_assetPath }/images/`, targetPath);
    let isError = false;
    let dimensions = null;
    try {
      let file = nodeFs.readFileSync(targetPath);
    } catch(e) {
      isError = true;
    }
    if (!isError) {
      dimensions = nodeSize(targetPath);
    }
    return dimensions;
  }


//-  pictureタグ
//-  imagesからでいいです。例) +pic('images/utils/logo.png', 'images/utils/logo_sp.png', 'alt');

-
  const getWepPPath = (src) => {
    return src.replace('images/', 'images_min/').replace(/\.jpg$|\.jpeg$|\.png$/g, '.webp')
  }

mixin pic(pc, sp, alt='')
  -
    const dimensionsPc = getImageDimension(pc);
    const dimensionsSp = getImageDimension(sp);
    const ratioPC = 769;

  picture
    if process.env.npm_package_config_enableWebP && pc.match(/\.jpg$|\.jpeg$|\.png$/g)
      if (dimensionsPc)
        source(srcset=pathImg + getWepPPath(pc), media=`(min-width:${ ratioPC }px)`, type='image/webp', width=dimensionsPc.width, height=dimensionsPc.height)
        source(srcset=pathImg + pc, media=`(min-width:${ ratioPC }px)`, width=dimensionsPc.width, height=dimensionsPc.height)
      else
        source(srcset=pathImg + getWepPPath(pc), media=`(min-width:${ ratioPC }px)`, type='image/webp')
        source(srcset=pathImg + pc, media=`(min-width:${ ratioPC }px)`)
    else
      if (dimensionsPc)
        source(srcset=pathImg + pc, media=`(min-width:${ ratioPC }px)`, width=dimensionsPc.width, height=dimensionsPc.height)
      else
        source(srcset=pathImg + pc, media=`(min-width:${ ratioPC }px)`)

    if process.env.npm_package_config_enableWebP && sp.match(/\.jpg$|\.jpeg$|\.png$/g)
      if (dimensionsSp)
        source(srcset=pathImg + getWepPPath(sp), type='image/webp', width=dimensionsSp.width, height=dimensionsSp.height)
        source(srcset=pathImg + sp, width=dimensionsSp.width, height=dimensionsSp.height)
      else
        source(srcset=pathImg + getWepPPath(sp), type='image/webp')
        source(srcset=pathImg + sp)
    else
      if (dimensionsSp)
        source(srcset=pathImg + sp, width=dimensionsSp.width, height=dimensionsSp.height)
      else
        source(srcset=pathImg + sp)
    img(src=pathImg + sp, alt=alt, class=attributes.class)


//-  width / height自動入力版画像タグ<img>。
//-  imagesからでいいです。例) +img('images/utils/logo.png', 'alt');
mixin img(src, alt='')
  -
    const dimensions = getImageDimension(src);
  if process.env.npm_package_config_enableWebP && src.match(/\.jpg$|\.jpeg$|\.png$/g)
    picture(class=attributes.class)
      source(srcset=pathImg + getWepPPath(src), type='image/webp')
      if dimensions
        img(src=pathImg + src, alt=alt, width=dimensions.width, height=dimensions.height,loading="lazy", decoding="async")
      else
        img(src=pathImg + src, alt=alt)
  else
    if dimensions
      img(src=pathImg + src, alt=alt, width=dimensions.width, height=dimensions.height,loading="lazy", decoding="async", class=attributes.class)
    else
      img(src=pathImg + src, alt=alt, class=attributes.class)
//-
  ** Create main visual element
  **
  * @enTitle String
  * @jpTitle String
  * @pcBg String
  * @spBg String
mixin mv(enTitle, jpTitle)
  .c-mv
    .row.c-mv__inner
      h2
        span.c-mv__ttl= enTitle
        span.c-mv__subTtl= jpTitle

//-
  ** Create main visual element
  **
  * @list Array
  
mixin breadcrumb(list = [])
  .breadcrumb
    .row
      ul.breadcrumb__list
        li
          a(href="/"+subDirectory) HOME
        each item in list
          li
            if (item.link)
              a(href="/"+subDirectory+item.link)=item.name
            else
              span= item.name

//- For menu
mixin menu(listMenu)
  ul 
    each menu in listMenu
      li
        if menu.isOutside
          a(href=menu.link target="_blank", rel="noopener noreferrer") !{menu.label}
        else
            a(href="/"+subDirectory+menu.link) !{menu.label}
         

mixin title(className,txtJp,txtEn)
  h2(class=`${className} ${attributes.class}`)
    if (!txtEn)
      span(class=`${className}--jp`) !{txtJp}
    else
      span(class=`${className}--en`) !{txtEn}
      span(class=`${className}--jp`) !{txtJp}

mixin pagination(className)
  .paging(class=className)
    .paging-wrap
      ul.paging-list
        li.paging-prev.disable
          a(href="#").glyphs-arrow-btn &nbsp;
        li.paging-item.active
          a(href="#") 1
        li.paging-item
          a(href="#") 2
        li.paging-item
          a(href="#") 3
        li.dot
          span ...
        li.paging-item
          a(href="#") 10
        li.paging-next
          a(href="#").glyphs-arrow-btn &nbsp;