//- 相対にしたい時はisRelativeをtrue =================================================================== */
-
  const isRelative = process.env.npm_package_config_isRelative;
  let relativePrefix = '';
  if (isRelative) {
    const relativePath = nodePath.relative('src/pug/', filename);
    const pathLevels = relativePath.split(nodePath.sep).length - 1;
    relativePrefix = pathLevels === 0 ? './' : new Array(pathLevels).fill('../').join('');
  }
//- 基本設定 =================================================================== */
-
  const subDirectory = process.env.npm_package_config_subDirectory;
  const basePath = isRelative ? relativePrefix : `/${ subDirectory }`;
  var assetPath = `${ basePath }${ process.env.npm_package_config_assetPath }/`;
  var pathImg = `${assetPath}images/`
  var isSSI = false;