@media (--pc) {
  .page-tbl {
    border-collapse: collapse;
    .txt-center {
      text-align: center;
    }
    .txt-right {
      text-align: right;
    }
    th,
    td {
      padding: 10px 20px;
      border: 1px solid #ccc;
      font-size: rem(16);
      font-weight: 400;
    }
    thead {
      th {
        background: #ddd;
        font-size: rem(18);
        font-weight: 500;
        text-align: center;
      }
    }
    &--middle {
      th,
      td {
        vertical-align: middle;
      }
    }
  }
}