@media (--pc) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    /* border-bottom: 1px solid #000; */
    transition: background-color 0.3s ease, box-shadow 0.3s ease-out;
    z-index: $z_upper;
    background-color: #fff;
    &.fixed {
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
    }
    &__hamburger {
      display: none;
    }
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      display: flex;
      flex-shrink: 0;
      > a {
        display: block;
        width: 192px;
        margin-left: -1px;
        margin-top: -4px;
      }
    }
    &__content {
      flex: 1;
    }
    &__menu {
      display: flex;
      justify-content: flex-end;
    }

    &__nav {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      > ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        li {
          margin-left: 27px;
          a {
            display: flex;
            align-items: center;
            letter-spacing: ls(20);
          }
        }
      }
      &__text {
        .eng {
          display: none;
        }
      }
    }
  }
}
