@media (--sp) {
  .header {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: vw(140);
    background-color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease-out;
    z-index: $z_upper;
    &.fixed {
      box-shadow: vw(2) 0 vw(10) rgba(0, 0, 0, 0.05);
    }
    &__wrap {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 vw(30);
    }
    &__logo,
    &__content {
      flex-shrink: 0;
    }
    &__logo {
      display: flex;
      flex-shrink: 0;
      > a {
        width: vw(258);
        margin-right: vw(30);
      }
    }
    &__menu {
      position: fixed;
      /* top: 0; */
      left: 0;
      width: 100%;
      top: vw(140);
      height: 0;
      overflow: hidden;
      background: var(--col_primary) repeat top left;
    }
    &__nav {
      display: flex;
      justify-content: flex-end;
      padding: vw(50) vw(40) 0;
      padding-left: vw(250);
      > ul {
        width: 100%;
        li {
          display: block;
          &:not(:first-of-type) {
            margin-top: vw(23);
          }
          a {
            position: relative;
            padding-left: vw(48);
            font-size: vw(30);
            line-height: lh(30, 84);
            font-weight: 500;
            letter-spacing: ls(140);
            color: #fff;
            &:after {
              content: '';
              position: absolute;
              width: vw(14);
              height: vw(20);
              top: 0;
              bottom: 0;
              left: vw(7);
              margin: auto;
              background: url('../images/common/ico-arrow-btn.svg') no-repeat top left;
              background-size: contain;
            }
          }
        }
      }
    }
    &__hamburger {
      position: relative;
      width: vw(90);
      height: vw(90);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: backgound 0.3s ease-in-out;
      background: var(--col_primary);
      border-radius: 50%;
      cursor: pointer;
      transition: box-shadow 0.3s ease-out;
      z-index: 9;
      .burger-lines {
        position: relative;
        width: vw(40);
        height: vw(32);
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: vw(5);
          background: #fff;
          top: 0;
          left: 0;
          margin: auto;
          border-radius: vw(2.5);
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: vw(5);
          background: #fff;
          bottom: 0;
          left: 0;
          margin: auto;
          border-radius: vw(2.5);
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: vw(40);
        height: vw(5);
        background: #fff;
        transform: translateX(-50%);
        border-radius: vw(2.5);
        transition: opacity 0.7s ease-out;
      }
      &.open {
        .burger-lines {
          &:before {
            animation: ease 0.7s top forwards;
          }
          &:after {
            animation: ease 0.7s bottom forwards;
          }
        }
        &:after {
          opacity: 0;
        }
      }
      &.close {
        .burger-lines {
          &:before {
            animation: ease 0.7s topBack forwards;
          }
          &:after {
            animation: ease 0.7s bottomBack forwards;
          }
        }
      }
    }
  }
}
