@media (--pc) {
  .c-mv {
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 20px;
      background: var(--col_primary);
      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &__ttl {
      font-size: rem(44);
      line-height: lh(44, 60);
      font-weight: bold;
      color: #fff;
    }
    &__subTtl {
      font-size: rem(32);
      line-height: lh(32, 54);
      font-weight: bold;
      color: #fff;
    }
  }
}
