@media (--tb) {
  .c-mv {
    &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: vwTb(50) vwTb(20);
      background: var(--col_primary);
      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &__ttl {
      font-size: vwTb(44);
      line-height: lh(44, 60);
      font-weight: bold;
      color: #fff;
    }
    &__subTtl {
      font-size: vwTb(32);
      line-height: lh(32, 54);
      font-weight: bold;
      color: #fff;
    }
  }
}
